.description-container {
  margin-top: 20px;
}

.description-container h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-content {
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}
