/* DetectUsers.css */
.detect-users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.detect-users-container p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
