.game-image-center-container {
  text-align: center;
  margin-top: 20px;
}

.game-image img {
  max-width: 20%; /* Modificado para que la imagen central sea más pequeña */
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
