.game-features-container {
  margin-top: 20px;
}

.game-features-container h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.game-feature {
  margin-bottom: 10px;
  font-size: 18px;
}

.game-feature strong {
  margin-right: 5px;
}

/* Visuals.css */

.visual-container {
  margin-top: 20px;
}

.video-container {
  margin-top: 20px;
}

.video-container h3 {
  color: #333;
  font-size: 24px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.image-gallery img {
  max-width: 48%;
  height: auto;
  margin-bottom: 10px;
}
