/* Visuals.css */

.visual-container {
  margin-top: 20px;
}

.video-container {
  margin-top: 20px;
}

.video-container h3 {
  color: #333;
  font-size: 24px;
}

.image-gallery img {
  max-width: 48%; /* Para que las imágenes ocupen la mitad del ancho */
  height: auto;
  margin-bottom: 10px;
}

.description-container {
  margin-top: 20px;
}

.description-container h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-content {
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}
